* {
  padding: 0;
  margin: 0;
  /* box-sinzing: border-box -> define o tamanho do elemento, considerando seu margin e padding */
  box-sizing: border-box;
}

body {
  background-color: darkslateblue;
}

header {
  background-image: linear-gradient(to top, darkslateblue, black);
  box-shadow: inset 0 0 2em black, 0 0 2em black;
  margin-bottom: 30px;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  width: 100%;
  padding: 50px;
}

.container-galeria {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* gap -> propriedade do Grid para aplicar espaçamento entre os items de um bloco */
  gap: 2vw;
}

.container-item {
  width: 350px;
  height: 250px;
  border: 10px solid white;
  box-shadow: 5px 5px 5px black;
  /* flex-grow -> define a habilidade de um item flex crescer em relação aos outros dentro do mesmo container */
  flex-grow: 1;
  transition: transform 0.3s linear;
  /* filter:grayscale -> deixa a imagem em preto e branco */
  filter: grayscale(100%);
}

.container-item img {
  width: 100%;
  height: 100%;
  /* object-fit: cover -> ajusta a imagem, para que preencha todo o container, sem distorcer */
  object-fit: cover;
}

.container-item:hover {
  /* transform -> aumenta o item de tamanho */
  transform: scale(1.1);
  border: 10px solid white;
  box-shadow: 5px 5px 5px black;
  filter: none;
}

footer {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  margin: 50px;
}

/* 'rem', é a medida do elemento, em relação ao tamanho dado a seu elemento raiz, quase sempre é o <html> */
/* 'vw' e 'vh', são medidas baseadas no tamanho da viewport, ou seja, tamanho da tela que estão sendo exibidas, 
    equivalem a 1/100 da altura da viewport */
